*{
    margin: 0;
    padding: 0;
}
a:hover{
    text-decoration: none;
}
/*.container{
    width: 1220px;
}*/
.container h3{
    width: 100px;
    margin: 0 auto;
    padding-bottom: 45px;
}
/*导航部分*/
.navbar-header a{
    color: #40d2b1;
    font-size: 32px;
   line-height: 50px;
    font-weight: bold;
}
.navbar-right {
/*    margin-right: 96px;*/
    font-size: 16px;
}
.navbar-default .navbar-nav>li>a {
    color: #666;
    font-weight: bold;
}
/*巨幕部分*/
.jm{
    position: relative;
    background:url("../images/home-bg.jpg") no-repeat center center;
    background-size: cover;
    padding: 0;
}
.jm1{
   background:rgba(0,0,0,.6);
    padding-bottom: 60px;
}
.jm h2{
 /*   width: 600px;*/
    color: #FFE;
    margin: 73px 0 15px 346px;
   font-size: 30px;
    font-weight: bolder;
}
.jm p{
    margin: 0 0 10px 330px;

}
.jm span{
    display: block;
    margin: 0 0 10px 292px;

}
.jm a{
    color: #ffffff;
    font-size: 14px;
}
.jm img{

}
/*栅格部分*/
.sg_0{
    padding-bottom: 50px;
}
.sg{
   line-height: normal;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.sg_bg{
    background: #f1f1f1;
}
.sg:hover{
    background: #f1f1f1;
}
.sg a,.sg0 a,.sg1 a,.sg3 a{
    color: #333;
    text-decoration: none;
}
.sg0{
   background: #f8f8f8;
    padding-top: 84px;
    padding-bottom: 84px;
}
.sg1{
    background: #ffffff;
    padding-top: 84px;
    padding-bottom: 84px;
}
.sg0 h1,.sg1 h1,.sg3 h1{
    font-weight: bold;
}
.sg0_img{
    width: 350px;
    height: 200px;
}
.sg2{
    background: #f8f8f8;
    padding-top: 84px;
}
.sg2_div{
    line-height: normal;
    text-align: center;
    padding: 0 0 30px 0;
    margin-bottom: 20px;
}

.bg0{
    background: #ffffff;
    width: 94.7%;
    margin-left: 8px;
    height: 80px;
}

.sg2_div button{
    margin-top: 20px;
    width: 100px;
    border-color: #40d2b1;
    color: #40d2b1;
}
/*栅格第三部分*/
.sg3{
    background: #ffffff;
    padding-top: 84px;
    padding-bottom: 84px;
}
.sg3 h1,.sg3 p{
    padding-bottom: 20px;
}
.sg3 .btn{
    background: #40d2b1;
    color: #ffffff;
}
.sg3_img{
    width: 420px;
    height: 230px;
}
/*栅格第四部分*/
.sg4{
    background: url("../images/contact-bg.png") no-repeat center center;
    background-size: cover;
    position: relative;
    height: 460px;
}
.sg4_1{
    background: rgba(0,0,0,.6);
    position: absolute;
    width: 100%;
    height: 460px;
    color: #ffffff;
    padding-top: 34px;
}
.sg4_1 h1{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
.sg4_1 p{
    padding-top: 20px;

}
.sg4_1 p a{
    color: #ffffff;
    text-decoration: none;
}
.form-control{
    margin: 22px 15px 0 0;
}
.sg4_1_btn{
    background: #40d2b1;
    width: 260px;
    padding-top: 10px;
    margin-top: 25px;
}
.form-inline{
    margin-top: 35px;
}
footer{
    margin: 0 auto;
    text-align: center;
    height: 80px;
    line-height: 80px;
}


/*运动部分*/
.yd_l{
    animation:a 5s 1;
    -webkit-animation:a 5s 1; /*Safari and Chrome*/
}
@keyframes a
{
    from {left:-800px;}
    to {left:0px;}
}
.yd_r{
    animation:mymove 5s 1;
    -webkit-animation:mymove 5s 1; /*Safari and Chrome*/
}
@keyframes mymove
{
    from {left:800px;}
    to {left:0px;}
}



